Package: me.conorthedev.libmitsuha
Name: libmitsuha
Version: 0.2.0
Architecture: iphoneos-arm
Description: Audio visualizer library
Maintainer: ConorTheDev <con0r.b@protonmail.com>
Author: ConorTheDev, Nepeta
Section: Development
Depends: me.conorthedev.audiosnapshotserver, me.conorthedev.libconorthedev, firmware (>= 9.0)