Package: com.ryannair05.libmitsuhaforever
Name: libmitsuhaforever
Version: 1.3.4
Architecture: iphoneos-arm
Description: An advanced audio visualizer library for Mitsuha Forever
Maintainer: Ryan Nair
Author: Ryan Nair, ConorTheDev, Nepeta
Section: Development
Depends: mobilesubstrate, com.ryannair05.audiosnapshotserver, ws.hbang.alderis
Replaces: me.nepeta.libmitsuha, me.conorthedev.libmitsuhaforever
